@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.715); /* Scrollbar color */
    border-radius: 10px; /* Round scrollbar corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.715); /* Scrollbar color on hover */
  }
  